@import url(global.css);

nav {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 25px;
  padding-inline-end: 71px;
  background-color: #000000;
  height: 111px;
  align-items: center;

  #avatar {
    width: 69px;
    height: 69px;
    border-radius: 50%;
  }

  span {
    font: var(--text-nav);
    color: var(--text-color-secondary);
  }

  img {
    width: 45px;
    height: 45px;
    margin-left: 20px;
  }
}

#background-image {
  width: 100%;
  height: 600px;
  background-image: url('/assets/images/background-racao.PNG'); /* coloque o nome correto do arquivo */
  background-size: cover;
  background-position: center;
  position: relative;
}